<head>
    <title><?=$title?></title>
    <script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.min.css">
</head>
